.header {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  & .top-nav {
    width: 100%;
    background: linear-gradient(270deg, #d6664c 0%, #d6a14c 100%);
    display: flex;
    gap: 10px;
    padding: 5px 20px;
    align-items: center;
  }

  & .flag-image-container img {
    width: 27px;
    height: 18px;
    display: flex;
    align-items: center;
  }

  & .text-container {
    display: flex;
    gap: 10px;
    align-items: center;

    & .text-one {
      color: #fff;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
    }

    & .text-two {
      color: #fff;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
    }
  }

  & .separator {
    height: 20px;
    width: 1px;
    background-color: #fff;
  }

  & .main-header {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 40px;
    background-color: #fff;
    & .image-container img {
      display: flex;
      align-items: center;
      width: 49px;
      height: 79px;
    }

    & .text-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0px;
      
      & .text-top {
        color: #d7874d;
        font-family: "Playfair Display";
        font-size: 38px;
        font-weight: 600;
      }

      & .text-bottom {
        color: #000;
        font-family: "Playfair Display";
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
