* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background: #F4F6FF;
}


